@charset "UTF-8";

.게임판{
	width: 35%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.게임판 div{
	width: 25%; height: 150px;
	border: 5px solid #ffffff;		
	background-color: #FAFAD2;
}