@charset "UTF-8";
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	padding: 0px; margin: 0px;
	font-family: 'BMEULJIRO';
}
.wrap{
	display: flex;
	justify-content: center;
}

.contaniner{
	width: 45%;
	border: 1px solid #808080;
	margin: 1%;
}
.kioskbox{
	width: 100%; /* height: 800px; */
}
/* ------------------헤더----------------- */
.header{
	height: 250px;
	border: 1px solid red;
	color: #8e8e8e;
}
/* ------------------메뉴----------------- */
.categorybox li{
	display: inline-block;
	margin: 10px 35px; 
}
/* ------------------본문----------------- */
.content{
	height: 500px;	
	border: 1px solid orange;
}

/* ------------------푸터----------------- */
.footer{
	height: 50px;
	border: 1px solid blue;
}



