@charset "UTF-8";

/* 웹폰트 : 눈누 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 기본값 제거 */
*{ padding: 0px; margin: 0px; } /* 여백 기본값 제거 */
*{ font-family: 'yg-jalnan'; } /* 기본폰트 적용 */
li{ list-style: none;}
/* 구역 나누기 */
.wrap{
	display: flex; /* 레이아웃 배치 : 기본값 가로배치 */
	justify-content: center; /* 레이아웃 가운데배치 */
}
/* 해당 구역 사이즈 */
.container{
	width: 45%;	/* 디바이스[크롬] 배율 */
	border: 1px solid #eeeeee; /*테두리*/
	margin: 1%;	/* 바깥여백 */
}
/* 키오스크 구역 사이즈 */
.kioskbox{
	width: 100%; height : 1000px; /*가로 세로 사이즈*/
}
/* 키오스크내 헤더 구역 사이즈 */
.header{ height: 250px; }

/* 키오스크내 헤더 구역의 메뉴 */
.categorybox li{
	display: inline-block; /*가로 배치 */
	margin: 10px 50px;
	color: #8e8e8e;
}
/* 선택된 li 꾸미기 */
.categoryselect{
	color : red !important; /* 속성 충돌시 최우선 !important */
	border-bottom: 5px solid red;
	padding-bottom: 5px;
}
/* ----------------- 키오스크내 본문 -----------------  */
.content{ height: 700px; }
.productbox{ height: 450px; display :flex; flex-wrap:wrap; }
.cartbox{ height: 250px; background-color: #eeeeee; }

/* 제품 */
.product{ width: 28%; margin: 2%; }
.productinfo{ text-align: center; }
.pprice{ color: red; }

/* 카트 */
.cartcontent{ padding: 20px; height:188px;}  /* 안쪽여백 */
/* 총 개수 div  , 총주문금액 div */  
.carttop{
	display: flex; /*레이아웃 배치 */
	justify-content: space-between; /* 레이아웃 가로 정렬 */
}
/* 총개수 원형 */
.pcount{
	background-color: red;	/* 배경색 */
	width: 30px;			/* 가로사이즈 */
	display: inline-block;	/* span : inline : 사이즈 변경불가능 */
	border-radius: 15px;	/* 둥근모서리 */
	text-align: center;		/* 내용 가로 가운데 정렬 */
	color: white;			/* 글꼴 색상 */
	font-size: 10px;		/* 글꼴 사이즈 */
	padding: 4px;			/* 안쪽 여백 */
}
/* 총금액 */
.ptotal{ color: red; }

.cartbottom{ display: flex; margin-top: 20px;  }
.item{
	width: 20%; background-color: white;
	padding: 15px;
	margin-right: 10px;
}
.ititle{ width: 100%; height: 50px; }

.iprice{ color: red; margin: 10px 0px; }

/* 버튼 */ 
.cartbtn{ display: flex; } /* 레이아웃 가로배치 */

.cartbtn button{
	width: 50%;			/* 버튼 가로사이즈 */
	font-size: 20px;	/* 글꼴 사이즈 */
	color:white;		/* 글꼴 색상 */
	padding: 20px;		/* 내용 과 테두리 사이 여백 = 안쪽여백 */ 
	border: none;		/* 테두리 제거 */
} 
.cancelbtn{ background-color: #4c4b49; }
.orderbtn{ background-color: red; }


/* ----------------- 포스기 / 버거등록 -----------------  */
.cont{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid red;
}
h3{ 
	font-size: 20px;
	padding: 5px 0px;
	background-color: #eeeeee;
}

.burgerbtn{
	width: 250px;
	padding: 5px 0px;
	font-size: 20px;
	background-color: #eeeeee;
	border: 1xp solid black;
	border-radius: 5px;
}
