@charset "UTF-8";
*{ 
	background-color: green; 
	/* color:  white; */
} /* 연동 확인용 */

.wrap{ display: flex; }

.content{
	width: 50%;
	border: 1px solid white; 
	text-align: center;
}
.content h1{ font-size: 20px;}
.도서명{ 
	padding: 5px;
	background-color: #ffffff;
}
.등록버튼{
	padding: 5px;
	background-color: #ffffff;
	color: black;
	border: none;
}