@charset "UTF-8";
*{ font-family: '맑은 고딕' }
.content1{ 
	background-color: #006400; 
	color: #ffffff; 
	padding: 15px;
	text-align: center;
}
.contentTable{ margin: 0 auto; }
.contentTable th{ padding: 10px; }
h1{
	font-size: 20px;
}
.도서명{
	padding: 9px 12px;
	margin-bottom: 15px;
	border: none;
}
.등록버튼{
	font-size: 15px;
	padding: 8px;
	border: none;
}