@charset "UTF-8";


/* 
	웹폰트
		- 굴림, 맑은고딕
		- 강조 : 외부 폰트
 */


/* 공통 */
*{ 
	/* border: solid 1px black; */ 
	/* padding: 0; margin: 0; */
}
li{ list-style-type: none; }
ul{ padding: 0; }


/* 상단S */
.head{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.logo1 img{ margin-top: 20px; }
.top_menu{
	margin-top: 20px;
	text-align: right;
}
a{
	color: black;
	text-decoration: none;
}
.main_menu li{
	display: inline-block;
	margin-left: 45px;
}
/* 상단E */


/* 메인S */
.main_img1{ text-align: center; }
.cont{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
/* 메인 - 왼쪽 */
.side_bar{ width: 250px; }
.side_bar h3{
	margin-bottom: 0px;
	padding:10px;
	font-size: 20px;
	background-color: #008080;
	color: 	#40E0D0;
}
.side_bar ul{ padding: 0px; margin: 0px; }
.side_bar li{
	border-bottom: dotted 1px #ececec;
	padding: 10px;
}

/* 메인 - 오른쪽 */
.right{ width: 900px; }
.right h3{
	font-size: 20px;
	border-bottom: solid 1px #ececec;
}
.right li{
	border-bottom: dotted 1px #ececec;
	padding: 10px;
}

/* 메인E */

/* 하단S */
.foot{ 
	background-color: #2C2A29;
	margin-top: 20px;
}
#foot_box{
	width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.foot ul{ color: #ffffff;}
/* 하단E */





