@charset "UTF-8";
/* 웹 폰트 */
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* 기본값 */
*{
	font-family: '맑은 고딕';
	color: black;
	margin: 0; padding: 0;
}
a{
	text-decoration: none !important;
	color: black !important;
}
/* 로고 구역 */
.logobox{
	text-align: center;
}

/* 로고 제목 */
.title{
	font-family: 'LINESeedKR-Bd';
	color: black;
	font-size: 40px;
	text-decoration: none;
}

/* 하단 메뉴 */
.h_bottom{ top: 40px !important;/* 부트스트랩보다 우선순위 적용 */ } 

/* 부트스트랩 class 수정 */
.nav-link{ color: black !important; }
.h_top_menu{ 
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
}
.h_bottom_menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 12px; 
}

.boxtitle{
	text-align: center;
	font-family: 'LINESeedKR-Bd';
	padding-top: 10%;
	padding-bottom: 1%;
	border-bottom: 2px solid #eeeeee;
	width: 20%;
	margin: 3% auto;
}

/* 서로 다른 디바이스마다 css 달리함 -> 미디어쿼리 */
/* @media( 조건 ){ 참일경우 css } */

/* 1. 최대 가로사이즈 1000px 이하이면 */
@media( max-width: 1000px ){ 
	.item{ 
		width: 45% !important; 
		margin: 2% !important; 
	}
}
/* 2. 최대 가로사이즈500px 이하이면 */
@media( max-width: 500px ){
	.item{ 
		width: 90% !important; 
		margin: 2% !important; 
	}
}
/* 1200px 이상 기준 */
.item{
	width: 20%;
	margin: 2%;
}
.item img{
	width: 100%;
	border-radius: 20px; 
}
.item:hover{ opacity: 0.8; }
.item_title{
	font-size: 12px;
	margin: 5% 0%;
}
.item_size{
	font-size: 10px;
	color: #999999;
	border-bottom: 1px solid #999999; 
	padding-bottom: 4%;	
}
.item_price{
	text-decoration: line-through;
	font-size: 12px;
	color: #999999;
}
.item_sale{
	font-family: 'LINESeedKR-Bd';
	font-size: 18px;
}
.item_discount{
	color: #ff4aa5;
	font-size: 17px;
	font-family: 'LINESeedKR-Bd';
}
.item_bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3%;
}
.item_review{
	font-size: 13px;
	color: #999999;
	text-align: right;
	margin: 3%;
}
.itembox{
	display: flex;
	flex-wrap: wrap;
}
















































