@charset "UTF-8";
/* 웹 폰트 */
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 기본값 */
*{
	font-family: '맑은 고딕';
	color: black;
	margin: 0; padding: 0;
}
a{
	text-decoration: none;
	color: black;
}

/* 로고 구역 */
.logobox{
	text-align: center;
}

/* 로고 제목 */
.title{
	font-family: 'LeferiPoint-WhiteObliqueA';
	color: black;
	font-size: 40px;
}

/* 하단 메뉴 */
.h_bottom{ top: 40px !important;/* 부트스트랩보다 우선순위 적용 */ } 

/* 부트스트랩 class 수정 */
.nav-link{ color: black !important; }
.h_top_menu{ 
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
}
.h_bottom_menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 12px; 
}
