@charset "UTF-8";

.box1, .box2, .box3,
.box4, .box5, .box6,
.box7, .box8, .box9,
.box10, .box11, .box12{
	width: 100px; height: 80px;
	background-color: yellow;
	border: solid 1px red; 
}

.box2{ 
	position: relative; 
	left: 50px; top:50px; 
}
.box5{ 
	position: absolute; 
	left: 50px; top:50px; 
}
.box8{
	position: fixed; 
	left: 50px; top:50px;
}

.parent1{ 
	width: 300px; height: 300px; 
	border: solid 1px blue;
	position: relative;
}
.box11{
	position: absolute;
	right: 10px; bottom: 10px;
}

/* static */
.box12{ left: 20px; }