@charset "UTF-8";
body{ background-color: #eeeeee;}
#header{
	display: flex; justify-content: space-between;
	/* position:fixed; top: 0px; */
	position: sticky; top: 0px;	/* 화면에서 나갔을 때 (top에) 위치 고정 */
			
	background-color: yellow;
	border-bottom: solid 1px black; 
		
	z-index: 1; /* 다른 요소와 겹쳤을 때 (1) 우선순위 */
} 
.menu li{ display: inline-block; }

.popup{ 
	width: 20%; 
	border: solid 1px black;
		
	opacity: 0.5; /* 전체 투명도 [%, 소수점] */
	background-color: #ffffff;
	/* background-color: transparent; - 기본값 */ 
		
	position: fixed; right: 0px; top: 40%; /* 화면 고정 : 가장 오른쪽 위에서 40% 내려옴 */
}