@charset "UTF-8";

a{
	color: black;
	text-decoration: none;
}
a:hover { /* 마우스 올렸을 때 */
	color: green;
}
a:active { /* 클릭하는 동안 */
	color: blue;
}
a:visited { /* 클릭한 적이 있을 때 */
	color: red;
}



/* 헤더 */
#header{
	background-color: #cccccc;
	display: flex; justify-content: center;
}
#header .drop_menu{ 
	display: inline-block;
	margin-right: 50px;
}

/* 메뉴 */
.drop_menu{ position: relative; } /* 상위요소 relative */
.drop_menu a{ width: 200px; }
 
/* 서브메뉴 */
.drop_menu:hover .submenu{ display: block; } /* 보여주기 */

.submenu{
	position: absolute; /* 하위요소 absolute */
	top: 25px; left: -30px; /* ! 상위요소와 하위요소의 접점이 있어야 hover가 유지됨 */
	
	padding-top: 30px; /* 상위요소와 하위요소 사이에 여백 */
	
	display: none; /* 숨기기 */
	
	border-bottom: 2px solid #eeeeee;
	border-left: 2px solid #eeeeee;
	border-right: 2px solid #eeeeee;
	
	width: 90px;
	font-size: 15px;
}
.submenu a{ width: 200px; }
