@charset "UTF-8";
*{
	/* margin: 0 auto; */ padding: 0;
	/* border: 1px solid black; */
}
a{
	color: black;
	text-decoration: none;	
}
a:hover{ cursor: pointer; }
li{
	list-style: none;
}
/* -------------------헤더-------------------- */
#top{ border-bottom: 1px solid #eeeeee;}
/* -------------------헤더/위-------------------- */
.topmenu{ text-align: right;}
.topmenu li{
	display: inline-block;
	padding: 0 10px;
	font-size: 12px;
}
/* -------------------로고-------------------- */
#mainlogo img{ padding: 30px; }
/* -------------------헤더/아래-------------------- */
#left{ display: flex; align-items: center;}
#right{ display: flex; justify-content: space-between;}
/* 메인메뉴 */ 
.bottommenu{ display: flex; text-align: center; }
.bottommenu li{
	font-size: 12px;
	/* width: 80px; */
	margin: 0px 15px;
}
.bottommenu span{ color: red; }
/* 서치 */
#search{
	width: 100px; height: 20px;
	border: 1px solid red;
}
/* -------------------메인배너-------------------- */
#mainbanner{ height:400px; margin: 0 auto;}
/* -------------------본문-------------------- */
#contents{ width: 1200px; height:600px; margin: 0 auto; }
/* -------------------푸터-------------------- */
#ft_top{ background-color: #eeeeee; }
.tfbox1, .tfbox2, .tfbox3, .tfbox4{ 
	width: 300px;
	margin: 0 auto;
}
#ft_bottom{
	text-align: center;
	/* height: 200px; */
	color: #8e8e8e;
	padding: 50px 0;
	font-size: 13px;
}

