@charset "UTF-8";

div{
	border: solid 1px red;
	margin: 20px;
}
span{
	border: solid 1px blue;
}
.s1{
	display: inline;
	width: 100px;
	height: 100px;
}
.s2{
	display: block;
	width: 100px;
	height: 100px;
}

.s3{
	display: inline-block;
	width: 200px;
	height: 100px;
}

.s4{
	display: none;
	width: 200px;
	height: 100px;
}

.d1{
	display: inline;
	width: 200px;
	height: 100px;
}
.d2{
	display: block;
	width: 200px;
	height: 100px;
}
.d3{
	display: inline-block;
	width: 200px;
	height: 100px;
}
.d4{
	display: none;
	width: 200px;
	height: 100px;
}