@charset "UTF-8";

.container{
	display: flex;
}

.box{
	width: 10%;
	height: 50%;
	background-color: red;
	color: #ffffff;
	border: solid 1px blue;
}
#flex_box1{
	justify-content: flex-start; /* 왼쪽 정렬 */
}
#flex_box2{
	justify-content: flex-end; /* 오른쪽 정렬 */
}
#flex_box3{
	justify-content: center; /* 가운데 정렬 */
}
#flex_box4{
	justify-content: space-between; /* 사이 여백 */
}
#flex_box5{
	justify-content: space-around; /* 동일한 여백 */
}
#flex_box6{
	justify-content: space-evenly; 
}