@charset "UTF-8";
*{ 
  border: 1px solid red;
   margin: 0px; padding: 0px;
}
li{ list-style: none; }
a{ color: black; text-decoration: none; }

/* -------------------- 헤더 ------------------- */
#header{ /* height: 130px; */}
#h_top{ 
	border-bottom: 1px solid #dbdbdb;
	
}
#h_top li{
   display: inline-block;
   padding: 0px 12px;
   font-size: 12px;
}
#h_top ul{ 
   text-align: right;
   margin: 10px 0px;
}
.dep{ position: relative; }
.dep1{
   position: absolute; 
   display: none; 
}
.dep2{ position: relative; display: none; }
.dep2 li{
   position: absolute;
   display: none;
   width: 75px;
   right: -14px;
   text-align: left;
   background-color: blue; 
}
.dep:hover .dep1 , .dep:hover .dep2{display: block;}
#h_bottom{
   position: relative;
   height: 78px;
   z-index: 0;
   /* position: sticky; top: 0px; */
   background-color: #dddddd;
   /* opacity: 0.5; */
}
#h_bottom #headlogo{ /* 로고 */
   position: absolute;
   top: 25px;
   left: 25px;
} 
#h_bottom #headmenu{ /* 메인메뉴 */
   position: absolute;
   left: 245px;
}
#headmenu .h_maenu{
   position: relative;
   display: inline-block;
   padding: 0px 12px;
   line-height: 78px;
   font-size: 12px;
}
.h_submenu a {
   display: block;
    line-height: 24px;
    font-size: 13px;
    font-weight: 400;
}
#headmenu .h_maenu ul li{ 
   width: 120px;
   margin: 0px;
   line-height: 30px;
   background-color: #ffffff;
   border: 1px solid black;
}
#headmenu .h_maenu ul{
   text-align: center;
   left: -22px;
}
.h_menu:hover .h_submenu { display: block; }
.topright{
   border-bottom: 1px solid black;
   position: absolute;
   top: 20px;
   right: 30px;
}
.topright input{
   border: none;
   padding: 10px 0;
}
.search{ border: none; }


/* -------------------- 배너 ------------------- */
#banner{height: 300px; background-color: #eeeeee;}
/* -------------------- 본문 ------------------- */
#contents{height: 600px;}
/* -------------------- 푸터 ------------------- */
/* 위 */
#footer{/*width: 1200px;*/ margin: 0 auto;}
#ft_top{ 
   background: #f7f7f7; 
   padding: 50px 0px;
}
.inner{display: flex; justify-content: space-around;}
.inner .innerbox h1, h3, p{ margin-bottom: 28px; } 
.inner div p { font-size: 12px;}
.inner div h1 { 
	font-size: 15px;
	margin-bottom: 20px;
}
.inner div p { margin-top: 20px; }
.inner div h3 { font-size: 12px;}
.bt_menu ul{ padding: 0px; font-size: 12px; }
.bt_menu li{ margin: 15px 0px;}

/* 아래 */
#ft_bottom p{
   padding: 30px 0px;
    text-align: center;
    font-size: 11px;
    color: #9e9e9e;
}
