@charset "EUC-KR";
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
	margin: 0; padding: 0;
	color: #ffffff;
}
a{
	text-decoration: none;
	color: #ffffff !important;
}
/*---------------헤더 메뉴---------------*/
.topmenu{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 15px;
}
/*---------------로고---------------*/
.logo{
	font-family: 'LINESeedKR-Bd';
	font-size: 80px;
	color: #ff0080;
	text-align: center;
	padding: 10px 0px;
}
/*---------------메인 메뉴---------------*/
.mainmenu{
	display: flex;
	justify-content: flex-start;
	padding: 0px 10px;
	width: 100%;
	font-size: 24px;
}
.mainnav{
	background-color: #2c2c2c;
	opacity: 0.8;
}
/* .line{ border-bottom: 2px solid #ff0080; } */
.nav-item{ margin: 0px 10px; }
/*---------------검색---------------*/
.searchbox{
	padding: 4px;
}
.searchbtn{
	background-color: #ff0080;
	border: none;
	padding: 7px 12px;
}
/*---------------포스터---------------*/
.itembox{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
	width: 15%;
    margin: 2%;
}
.item img{ width: 100%; }
.postertitle{
	font-size: 12px;
	margin: 5% 0%;
}
.badge{
	margin-left: 5px;
	font-size: 10px;
	background-color: #ff0080;
}
/*---------------반응형---------------*/
@media(max-width: 500px){
	.bannerimg , .search{
		display: none;
	}
	.item{
	width: 45%;
	margin: 2%;
	}
	
} 




















