@charset "UTF-8";
.wrap{ /* 게임화면 설정 */
	width: 1000px; height: 600px; margin: 0 auto;
	position: relative; /* 하위 요소들의 위치 기준점 */
	background-image: url("img/게임배경.jfif"); /* 배경 이미지 */
	background-repeat: no-repeat; /* 배경 채우기 제거 */
	background-size: 110%;
}
.userbox{ /* 캐릭터 구역 */
	width: 100px; height: 100px; position: absolute;	/* 절대위치 : 상위요소의 relative 기준 */
	left: 10px;	top : 430px;
	background-image: url("img/캐릭터1.png"); background-repeat: no-repeat; background-size: 90%;
}
.monbox{ /* 몬스터 구역 */
	width: 100px; height: 100px; position: absolute;
	left: 910px; top : 430px;
	background-image: url("img/주황버섯.gif"); background-repeat: no-repeat; background-size: 70%;
	transition : all 1s; /* 애니메이션 1초간 부드럽게 이동 효과 */
}