@charset "UTF-8";

*{ 
	/* border: solid 1px red; */
	margin: 0; padding: 0;
	font-family: "맑은 고딕";
}
a{
	text-decoration: none;
	color: black; 
}
li{ list-style-type: none; }
ul{ padding: 0; }

/* ------------------ 상단 ------------------- */
#header{
	width: 1200px; height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#logo{ margin-top: 30px; }
#logo span{ color: #1E90FF; }
#memus{ margin-top: 60px; }
#memus li{
	display: inline-block;
	margin-left: 50px;
	font-size: 18px;
}

/* ------------------ 메인 배너 ------------------- */
#sub_img{ 
	background-image: url("../img/sub_reservation.jpg");
	width: 100%; height: 300px;
	display: flex; flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

/* ------------------ 본문 ------------------- */
#contents{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 20px;  
}
#cont_txt{ 
	background-color: #FAFAD2;
	/* width: 600px; */ height: 500px;
	margin: 20px;
}
#right h5{ 
	text-align: center;
	margin-top: 20px;
}
#right h4{ 
	text-align: center;
	margin-top: 10px;
}

/* -------------------달력----------------- */
#date_box{ border: solid 1px black; }
#date1 li{ 
	display: inline-block;
	width: 70px; height: 20px;
	text-align: center;
	border: solid 1px black;
	margin: 0 auto;
}
.date li{ 
	display: inline-block;
	width: 70px; height: 80px;
	margin: 0 auto;
	border: solid 1px black;
}

/* -------------------달력----------------- */

#left{ width: 600px; }
#left h3{ margin-top: 20px; }
#left li{ margin: 5px; }
#left p{ color: green; margin: 15px 0; }

/* ------------------ 하단 ------------------- */
#footer{
	margin: 0 auto; 
	background-color: #292C32;
	color: #ffffff;
}
#ft_cont{ 
	width: 1200px; 
	margin: 0 auto;
	display: flex; justify-content: space-between;
	padding: 50px 0px;
	color: #ffffff;	
}
.ft_item{ width: 450px; }
#ft_cont li{ display: inline-block; }
#sns_item{ 
	width: 200px; 
	margin-left: 100px;
}