@charset "UTF-8";

h3{
	border-left: solid 10px green;
	padding-left: 20px;
}

ul{
	background-color: #E6E6E6;
	border: solid 2px #D8D8D8;
	border-radius: 7px;
	padding: 40px 40px;
	width: 500px;
}

li{
	margin: 10px;
}

form{
	border: solid 2px #D8D8D8;
	border-radius: 20px;
	padding: 20px;
	margin: 30px; 
	width: 300px;
}

p{
	border-bottom: 1px dotted #D8D8D8;
	padding-bottom: 5px;
	
}

h4{
	text-align: right;
}
 
a{ /* a 태그 기본 속성 제거 */
	color: black;
	text-decoration: none;
}