@charset "UTF-8";

.write_t{
	width: 700px;
	margin: 0 auto;	
	padding: 7px 0;
	border-top: solid 3px black;
}

td{
	border-bottom: 1px solid #e6e6e6;
}

.col1{
	padding: 5px 0;
}

.write_t input{
	width: 500px;
}

.write_t textarea{
	width: 500px;
	height: 100px;
}

.btn_box{
	margin: 10px 0;
	text-align: right;
}

.btn_box input{
	padding: 5px 20px;
}
