@charset "UTF-8";

.wrap{
	display: flex; 				/* 레이아웃 배치 사용 */
	justify-content: center; 	/* 레이아웃 가운데 정렬 */
	flex-wrap: wrap;			/* 레이아웃(가로사이즈 넘쳤을 때) 자동 줄바꿈 */
	 
}
.addbox, .listbox, .updatebox{
	border: 1px solid red;		/* 테두리 */
	width: 40%; 				/* 가로길이 배율 */
	text-align: center; 		/* 내용물 가운데 정렬 */
}
.addtable, .updatetable{
	margin: 0 auto;
}
.updatebox{ display: none; }	/* 기본값으로 수장하여 표시 안 함(숨김) */



