@charset "UTF-8";

.wrap{
	display: flex; 				/* 레이아웃 배치 사용 */
	justify-content: center; 	/* 레이아웃 가운데 정렬 */
	 
}
.addbox, .listbox{
	border: 1px solid red;		/* 테두리 */
	width: 40%; 				/* 가로길이 배율 */
	text-align: center; 		/* 내용물 가운데 정렬 */
}
.addtable{
	margin: 0 auto;
}



